{{template "base/base.html" .}}
{{define "head"}}
<title>{{i18n .Lang "websocket_chatroom"}} - {{i18n .Lang "app_intro"}}</title>
{{end}}
{{define "body"}}

		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      
     <span  class="mdl-layout-title"><span id="uname">{{.UserName}}</span>  [room:<span id="roomid">{{.roomid}}</span>]</span>
      
      <div class="mdl-layout-spacer"></div>
      
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="javascript:void(0)">Todo</a>
        <a class="mdl-navigation__link" href="/">Home</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">KeyChat</span>
    <nav class="mdl-navigation">
      <a style="color:black" class="mdl-navigation__link" href="javascript:void(0)">Todo</a>
      <a style="color:black" class="mdl-navigation__link" href="/">Home</a>
      <A style="color:black" class="mdl-navigation__link" href="mailto:cowkeys@outlook.com">Email Me</A>
    </nav>
    <span class="warninginfo">* if we detect that you have not say anything within 6 mins,you will be kicked out.</span>
<span class="warninginfo">* this is a web app without any database,so the words will not be recorded as any form.</span>
 <span class="warninginfo">* any question please contact cowkeys@outlook.com </span>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--7-col">     
<ul class="demo-list-item demo-list-three mdl-list" id="chatbox">
  <li class="mdl-list__item mdl-list__item--three-line"></li>
</ul>
  </div>
  <div class="mdl-cell mdl-cell--4-col">

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
<input style="display: inline-block;" class="mdl-textfield__input" type="text" id="sendbox" >
    <label class="mdl-textfield__label" for="sendbox">Type Msg...</label>
<div style="float:right">
<button id="sendbtn"  class="mdl-button mdl-js-button">
  <i id="sendbtn" class="material-icons">send</i>
</button> 
    </div>
  </div>

  </div>
  <div class="mdl-cell mdl-cell--1-col">

  </div>
</div>
  </div>
  </main>
</div>

{{end}}
