.demo-list-item {
  height:375px;
    overflow-y: scroll;
}
.warninginfo{
    color:#D8D8D8;
    padding :10px;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
.mdl-list__item--three-line{
height:50px;
}
.mdl-list__item{
  padding:10px;
}